* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*全域設定*/
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    padding: 15px;
    text-align: center;
    background-color: rgb(43,60,60);
}

#main{
    flex: 1;
    padding: 5% 35%;
    background-color: #f1ead0;
}

.article{
    background-color: #e9b055;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.article h2{
    text-align: center;
}

.article input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.checkbox-label {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: fit-content; /* 只寬到內容 */
    margin-left: 0;      /* 確保貼齊左側 */
    gap: 5px; /* 加一點間距讓 checkbox 和文字不緊貼 */
}

.checkbox-group {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    gap: 5px; /* 元素之間間距 */
    margin-bottom: 10px;
}

.section{
    padding-bottom: 20px;
}

.icon-login {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

footer{
    padding: 15px;
    text-align: center;
    background-color: rgb(43,60,60);
}